{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/Mention/stylesmention.css') }}">
{% endblock %}

{% block body %}
    <div class='textMention'>
        <h2>Mentions Légales</h2>
    
        <h3>Éditeur du site</h3>
        <p><strong>Noan Burelier</strong><br>
        Étudiant en BUT Réseaux & Télécommunications – IUT de Roanne (Université Jean Monnet)<br>
        12 impasse de faverge, Marcilly-le-Châtel<br>
        Tél : 07 66 18 60 55<br>
        Email : bureliern@gmail.com <br>
        Site réalisé dans le cadre de la formation BUT Réseaux & <br>
        Télécommunications afin de présenter le profil de l’étudiant et de faciliter la recherche <br>
        d’une alternance.</p>

        <h3>Directeur de la publication</h3>
        <p>Directeur de la publication : Noan Burelier</p>

        <h3>Hébergement</h3>
        <p><strong>OVH</strong><br>
        SAS au capital de 10 174 560 €<br>
        RCS Lille Métropole 424 761 419 00045<br>
        Siège social : 2 rue Kellermann, 59100 Roubaix, France<br>
        Tél : 1007</p>

        <h3>Propriété intellectuelle</h3>
        <p>L'ensemble du contenu de ce site (textes, images, vidéos, etc.) est protégé par le droit d'auteur. Toute reproduction, même partielle, est soumise à autorisation préalable.</p>

        <h3>Crédits</h3>
        <p>Site web réalisé par un étudiant du BUT Réseaux &amp; Télécommunications dans le cadre de sa formation.</p>
    </div>
{% endblock %}
