{% extends 'base.html.twig' %}

{% block body %}
<h1>Résultats de recherche</h1>

<p>Vous avez cherché : <strong>{{ query }}</strong></p>

{% if query is empty %}
    <p>Aucun mot-clé saisi.</p>
{% else %}
    <p>Affichage des résultats (on va les ajouter ensuite)…</p>
{% endif %}
{% endblock %}
