{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<body>
    <div class="example-wrapper">
        <div style="display: flex; justify-content: right; margin: 1em auto">
            <h1>Acceuil</h1>
        </div>
        <br>
        <h2 style="text-align: left;">Je m'appelle Noan BURELIER</h2>
        <button>voir mon CV</button>

    </div>

</body>
{% endblock %}
