{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/Accueil/Accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="content-center">
        <button class="btn">Ici vous pouvez consulter mon CV</button>
    </div>

    <div class="content-center-Comp">
        <button class="btn">Ici vous trouverez mes différentes <br> Compétences</button>
    </div>

    <div class="content-center-Hobb">
        <button class="btn">Ici vous pourrez me contacter et m'<br>envoyer un mail</button>
    </div>

    <div class="content-center-con">
        <button class="btn">Ici vous pourrez découvrir mes hobbies</button>
    </div>
{% endblock %}






