

/* button */
.btn {
  display: inline-block;   /* ou block si tu veux qu’ils prennent toute la largeur */
  text-align: center;      /* centre le texte */
  margin: 10px;
  padding: 55px 110px;
  font-size: 20px;
  min-height: 520px;
  border: none;
  outline: none;
  color: #0f0f0f;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  text-decoration: none;

  display: flex;
  justify-content: flex-start;     /* centre horizontalement */
  align-items: center;         /* centre verticalement */
  text-align: center;          /* centre le texte sur plusieurs lignes */
  flex-direction: column;   /* enlève le soulignement des liens */
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #645e5e;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 20px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}


.page-center {
  display: flex;
  justify-content: center;   
  align-items: center;       
  height: 150vh;             
}

.grid-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
}


.btn-cv::after {
  background-image: url('/styles/Accueil/Image/CV_image.jpg'); /* chemin relatif à public/ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-comp::after {
  background-image: url('/styles/Accueil/Image/photo-compétences.jpg'); /* chemin relatif à public/ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




